* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 12px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px;
  margin-left: 130px;
}